:root {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #ffffff;
    user-select: none;
}

div.split {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0;/*3px;*/
    margin: 0;
    /* gap: 3px; */

    border-radius: 0;
    /* background: #cecece; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

span.a {
    box-sizing: border-box;
    /* border: 1px solid red; */
    position: relative;
    flex: 1;
}

canvas {
    position: absolute;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */

    margin: 0;
    cursor: none;

    object-fit: none;
    /* object-position:top left; */
    /* background-image: url('src/grid.png');
    background-repeat: repeat;
    background-size: 500px; */
    /* border: 5px solid red; */
    box-sizing: border-box;

    /* border: 1px solid rgb(25, 116, 11); */
}

div {
    z-index: 4;
    display: block;
    position: fixed;
    padding: 7px;

    min-width: 10px;
    min-height: 10px;

    /* color: #000000; */
    /* background-color: #ffffff; */

    left: 10px;
    top: 10px;
}

.selected {
    border: 1px solid #ff0000;
    padding: 5px;
    border-radius: 5px;
}
